*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
}
.clearfix:after{
	visibility: hidden;
 	display: block;
 	font-size: 0;
 	content: " ";
 	clear: both;
 	height: 0;
}
header{
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1em;
}
nav{
	float: right; 
}
nav a{ 
	text-decoration: none;
	color: #666666;
	display: inline-block;
	border-bottom: 3px solid rgba(0,0,0,0);
	padding: 1em .25em;
	margin-right: 1em;
	transition: 0.6s ease;
}
nav a:hover{
	border-bottom: 3px solid #007acc;
}
#logo{
	width: 5.5em;
	position:absolute;
	top:50%;
	left:1em;
	transform:translateY(-50%);
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}
h1:before{
	content:"\2014";
	display: block;
	width: 1em;
	margin-bottom: 1em;	
}
#about{
	background-image: url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom:2em;
}
#story{
	float: right;
	padding: 2em;
	background: rgba(0,122,204,1);
	color: rgba(255,255,255,1);
	width: 33.33%;
	position: relative;
	top: 4em;
	right: 4em;
}
#story p{
	margin-top: 2em;
	margin-bottom: 4em;
}
#story a{
	text-decoration: none;
	color: rgba(255,255,255,1);
	border: 1px solid rgb(255,255,255);
	padding: 1em;
	display: inline-block;
}
#story a:hover{
	color: rgba(0,122,204,1);
	background: rgba(255,255,255,1);
}
.ourworkdetails h2{
	text-align: left;
	color: rgba(102,102,102,1);
	text-shadow: 2px 2px 3px rgba(102,102,102,.5);
	font-size: 5em;
	margin-top: .5em;
	margin-left: 1em;
	margin-bottom: .5em;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
}
.ourworkdetails > div{
	position: relative;
}
.ourworkdetails img{
	float: left;
	width: 40%;
	color: rgba(64,64,64,1);
}
.ourworkdetails img:hover{
	  transform: scale(1.1);
}
.ourworkdetails h3{
	position: absolute;
	padding: .5em;
	background: rgba(0,122,204,.58);
	box-shadow: 2px 2px 3px rgba(121,182,222,1);
	color: rgba(255,255,255,1);
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	left: 35%;
}
.ourworkdetails p{ 
	width: 40%;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(64,64,64,1);
	background-color: rgba(149,149,149,.06);
	padding: 2em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.ourworkdetails p:before{
	display: block;
	content: "\2014";
	color: #007acc;
	text-align: center;
}
.ourworkalignright img{
	float: right;
}
.ourworkalignright p{
	left: 10%;
}
.ourworkalignright h3{
	right: 35%;
	left: initial;
}
.joinourteaminfo{
	background-image: url(https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20em;
	margin-top: 2em;
	text-align: center;
	color: white;
	padding-top: 3.5em;
}
.joinourteaminfo h2{
	font-size: 3em;
	background: rgba(0,122,204,.5);
	padding: .5em;
	margin-top: 1em;
}
.joinourteaminfo a{
	text-decoration: none;
	color: rgba(255,255,255,1);
	border: 1px solid rgb(255,255,255);
	padding: 1em;
	display: inline-block;
	margin: 1em;
	background-color: rgba(0,122,204,.5);
}
.joinourteaminfo a:hover{
	color: rgba(0,122,204,1);
	background: rgba(255,255,255,1);
}
.footer{
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 70px 0;
	box-sizing: border-box;
	background-color: rgba(0,122,204,1);
}
.innerfooter{
	display: block;
	margin: 0 auto;
	margin-left: 7em;
	width: 100%;
	height: 100%
}
.innerfooter .imagecontainer{
	width: 35%;
	float: left;
	height: 100px;
	display: block;
}
.innerfooter .imagecontainer img{
	width: 9em;
	height: auto;
}
.innerfooter .footerthird{
	width: calc(21.6666666667% - 20px);
	margin-right: 7em;
	float: left;
	height: 100%;
}
.innerfooter .footerthird:last-child{
	margin-right: 0;
	margin-left: 7em;
}
.innerfooter .footerthird h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.innerfooter .footerthird a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: white;
	display: block;
	width: 100%;
	padding-bottom: 5px;
}
.innerfooter .footerthird li{
	display: inline-block;
	margin: 0 12px;
	margin-left: 0;
}