*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
}
.clearfix:after{
	visibility: hidden;
 	display: block;
 	font-size: 0;
 	content: " ";
 	clear: both;
 	height: 0;
}
header{
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1em;
}
nav{
	float: right; 
}
nav a{ 
	text-decoration: none;
	color: #666666;
	display: inline-block;
	border-bottom: 3px solid rgba(0,0,0,0);
	padding: 1em .25em;
	margin-right: 1em;
	transition: 0.6s ease;
}
nav a:hover{
	border-bottom: 3px solid #007acc;
}
#logo{
	width: 5.5em;
	position:absolute;
	top:50%;
	left:1em;
	transform:translateY(-50%);
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}
h1:before{
	content:"\2014";
	display: block;
	width: 1em;
	margin-bottom: 1em;	
}
#about{
	background-image: url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom:2em
}
#story{
	float: right;
	padding: 2em;
	background: #007acc;
	color: rgba(255,255,255,1);
	width: 33.33%;
	position: relative;
	top: 4em;
	right: 4em;
}
#story p{
	margin-top: 2em;
	margin-bottom: 4em;
}
#story a{
	text-decoration: none;
	color: rgba(255,255,255,1);
	border: 1px solid rgb(255,255,255);
	padding: 1em;
	display: inline-block;
}
#story a:hover{
	color: rgba(0,122,204,1);
	background: rgba(255,255,255,1);
}
.ourworkdetails h2{
	text-align: left;
	color: rgba(102,102,102,.32);
	font-size: 5em;
	margin-top: .5em;
	margin-left: 1em;
	margin-bottom: .5em;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
}
.ourworkdetails{
	position: relative;
}
.ourworkdetails img{
	float: left;
	width: 40%;
	color: rgba(64,64,64,1);
}
.ourworkdetails img:hover{
	  transform: scale(1.1);
}
.ourworkdetails h3{
	position: absolute;
	padding: .5em;
	background: rgba(0,122,204,.58);
	box-shadow: 2px 2px 3px rgba(121,182,222,1);
	color: rgba(255,255,255,1);
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}
.ourworkdetails p{ 
	float: left;
	width: 40%;
	margin: 10%;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(64,64,64,1);
	background-color: rgba(149,149,149,.06);
}
.ourworkdetails p:before{
	display: block;
	content: "\2014";
	color: #007acc;
}
.ourworkalignright img, p{
	float: right;
}
.joinourteaminfo{
	clear: both;
	background-image: url(https://images.pexels.com/photos/3184396/pexels-photo-3184396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: rgba(255,255,255,1);
	width: 100%
	height: 10%;
	padding: 5%;
	text-align: center;
} 
.joinourteaminfo h2{
	font-size: 4em;
	width: 50%;
	margin-bottom: 1em;
	background: #007acc;
	padding: 3%;
}
.joinourteaminfo a{
	margin: 1em;
	background: #007acc;
	text-decoration: none;
	color: rgba(255,255,255,1);
	border: 1px solid rgb(255,255,255);
	padding: 1em;
}
.joinourteaminfo a:hover{
	color: rgba(0,122,204,1);
	background: rgba(255,255,255,1);
}
footer{
	background: rgba(102,102,102,0.43);
	float: left;
}
footer a{
	text-decoration: none;
	color: rgba(255,255,255,1);
	margin: 1em;
}
footer img{
	width: 3%;
	float: right;
	margin: 1em;
}
footer p{
	margin-top: 1em;
	text-align: center;
}