*{
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

p{
	font-family: 'Roboto Condensed', sans-serif;
}
header{
	font-family: 'Roboto Condensed', sans-serif;
}

nav{
	float: right;
	border: 2em;
}
nav a{
	text-decoration: none;
	color: #666666;
	padding: .5em;
}
#logo{
	width: 5.5em;
}

#about{
	background-image: url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	padding: 2em;
	border: 2em;
	height: 30em;
}
#story{
	padding: 1em;
	margin: 1em;
	width: 30em;
	height: 20em;
	background: #0b275b;
	color: #ffffff
	background-color: none;
}
h1{
	font-size: 2em;
	margin-bottom: 1em;
}

