h1{
	font-family: 'Poppins', sans-serif;
}

.header {
	font-family: 'Poppins', sans-serif;
}

.subheader {
	font-family: 'Poppins', sans-serif;
}

.body {
	font-family: 'Domine', serif;
}

.team {
	font-family: 'Poppins', sans-serif;
}

nav {
	font-family: 'Poppins', sans-serif;
}

footer {
	font-family: 'Domine', serif;
}